<!-- about.html -->
{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
   <main class="main">
  <section class="py-5">
    <div class="container">
      <h2 class="mb-4 text-center">Men's Wear Collection</h2>
      <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text"><strong>Category:</strong> {{ product.category }}</p>
              <p class="card-text"><strong>Price:</strong> ₹{{ product.price }}</p>
              <p class="card-text">{{ product.description }}</p>
              <div class="card-footer text-center">
  <a href="{% url 'product_detail' product.id %}" class="btn btn-dark">Shop Now</a>
</div>
            </div>
            <div class="card-footer text-center">
             
            </div>
          </div>
        </div>
        

        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
